{% extends 'app/base.html' %}
{% load static %}

{% block title %}profile{% endblock title %}

{% block main-content %}

<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card flex-row  mt-5">
        <div class="card-body row px-2 align-items-center">
          <div class="col-md-3">
            {% if customer.profile_image %}
            <img class="" src="{{ customer.profile_image.url }}" width="100%" height="200px" alt="No images">
            {% else %}
            <img src="{% static 'app/images/banner1/images.png' %}" alt="" width="100%" height="200px">
            {% endif %}
          </div>
          <div class="col-md-3">
            <h4 class="card-title">
              <div class="me-1">
                <h1 class="me-2"><b>{{customer.first_name|capfirst}}</b> <span><b>{{customer.last_name|capfirst}}</b></span></h1>
              </div>
              <br>
              {% if customer.user.pk == request.user.pk %}
              
                <div class="flex-row">
                  <a href="{% url 'update' customer.id %}" class="btn btn-sm " style="background-color: #6D0A15; color: white;">Edit Profile</a>
                </div>
              
              {% endif %}
            </h4>
          </div>

          {% if customer.user.pk == request.user.pk %}
         
         
          {% elif request.user.is_authenticated %}
       
          {% else %}
          <div class="col-md-4 text-center">
            <div class="flex-row">
              <a href="{% url 'login' %}" class="btn btn-lg" style="background-color: #6D0A15; color: white;">Login or
                signup</a>
            </div>
          </div>
          {% endif %}
         
        </div>


      </div>

    </div>
  </div>
</div>
<br>


<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="background-color: #6D0A15; color: white;">
          General Information
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4 text-muted">
              <p><b><i class="far fa-user-circle"></i> username:</b></p>
            </div>
            <div class="col-6">
              <p><b>{{customer.user.username}}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b><i class="fas fa-mobile "></i> Mobile no:</b></p>
            </div>
            <div class="col-6">
              <p><b>{{customer.mobile}}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b><i class="far fa-envelope"></i> Email:</b></p>
            </div>
            <div class="col-6">
              <p><b>{{customer.email}}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b><i class="fas fa-map-marked-alt"></i> Location:</b></p>
            </div>
            <div class="col-6">
              <p><b>{{customer.location}}</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        {% if customer.Photo_of_licence %}
        <img src="{{ customer.Photo_of_licence.url }}" class="card-img-top" alt="...">
        {% else %}
        <img src="{% static 'app/images/banner/cover.png' %}" alt="">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title text-center">Driving Licence</h5>
      </div>
    </div>
  </div>
</div>
</div>


{% if customer.user.pk == request.user.pk %}
  <div class="container my-4" style="padding-top: 80px;">
    <center><h3>Total Posted Bikes ({{posts}})</h3></center>
    <br><hr>
    <div class="row">
      {% for bike in post %}
      <div class="col-md-3">
        <div class=" card h-100">
          <img src="{{ bike.bike_images.url }}" style="width: 100%; height: 30vh;" class="card-img-top" alt="No images">
          <div class="card-body">
            <h5 class="card-title">{{bike.bike_name}}</h5>
            <p><b>{{bike.rent_price}} per hour</b></p>
            <p class="card-text">Milage Covered:{{bike.milage_covered}} | Milage Per Liter:{{bike.milagePerliter}}
            </p>
            <a href="{% url 'post_edit' bike.id %}" class="btn btn-primary">Edit</a>  <a href="{% url 'bike-detail' bike.id %}" style="color: white;" class="btn btn-info">Details</a> <a href="{% url 'post_delete' bike.id %}" class="btn btn-danger">Delete</a>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="container my-4" style="padding-top: 80px;">
    <center><h3>Total available bikes</h3></center>
    <hr>
    <div class="row">
      {% for bike in post %}
      {% if bike.is_available %}
      <div class="col-md-3">
        <div class=" card" style="width: 18rem;">
          <img src="{{ bike.bike_images.url }}" class="card-img-top" alt="No images">
          <div class="card-body">
            <h5 class="card-title">{{bike.bike_name}}</h5>
            <p><b>{{bike.rent_price}} per hour</b></p>
            <p class="card-text">Milage Covered:{{bike.milage_covered}} | Milage Per Liter:{{bike.milagePerliter}}
            </p>
            <a href="{% url 'bike-detail' bike.id %}" class="btn btn-primary">See Details</a> 
          </div>
        </div>
  
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}





{% endblock main-content %}