{% extends 'app/base.html' %}
{% load static %}

{% block title %}profile{% endblock title %}

{% block main-content %}

<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card flex-row  mt-5">
        <div class="card-body row px-2 align-items-center">
          <div class="col-md-3">
            {% if customer.profile_image %}
            <img class="" src="{{ customer.profile_image.url }}" width="100%" height="200px" alt="No images">
            {% else %}
            <img src="{% static 'app/images/banner1/images.png' %}" alt="" width="100%" height="200px">
            {% endif %}
          </div>
          <div class="col-md-3">
            <h4 class="card-title">
              <div class="me-1">
                <h1 class="me-2"><b>{{customer.first_name|capfirst}}</b> <span><b>{{customer.last_name|capfirst}}</b></span></h1>
              </div>
              <br>
              {% if customer.user.pk == request.user.pk %}
              
                <div class="flex-row">
                  <a href="{% url 'update' customer.id %}" class="btn btn-sm " style="background-color: #6D0A15; color: white;">Edit Profile</a>
                </div>
              
              {% endif %}
            </h4>
          </div>

          {% if customer.user.pk == request.user.pk %}
         
         
          {% elif request.user.is_authenticated %}
       
          {% else %}
          <div class="col-md-4 text-center">
            <div class="flex-row">
              <a href="{% url 'login' %}" class="btn btn-lg" style="background-color: #6D0A15; color: white;">Login or
                signup</a>
            </div>
          </div>
          {% endif %}
         
        </div>


      </div>

    </div>
  </div>
</div>
<br>


<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="background-color: #6D0A15; color: white;">
          General Information
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4 text-muted">
              <p><b><i class="far fa-user-circle"></i> username:</b></p>
            </div>
            <div class="col-6">
              <p><b>{{customer.user.username}}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b><i class="fas fa-mobile "></i> Mobile no:</b></p>
            </div>
            <div class="col-6">
              <p><b>{{customer.mobile}}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b><i class="far fa-envelope"></i> Email:</b></p>
            </div>
            <div class="col-6">
              <p><b>{{customer.email}}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b><i class="fas fa-map-marked-alt"></i> Location:</b></p>
            </div>
            <div class="col-6">
              <p><b>{{customer.location}}</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        {% if customer.Photo_of_licence %}
        <img src="{{ customer.Photo_of_licence.url }}" class="card-img-top" alt="...">
        {% else %}
        <img src="{% static 'app/images/banner/cover.png' %}" alt="">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title text-center">Driving Licence</h5>
      </div>
    </div>
  </div>
</div>
</div>


{% if customer.user.pk == request.user.pk %}
  <div class="container my-4" style="padding-top: 80px;">
    
    
      <div class="row">
        <div class="col-md-12">
          <div class="card-header" style="background-color: #6D0A15; color: white;">
        <center>
          <h3>Total Posted Bikes ({{posts}})</h3>
        </center>
          </div>
          <br>
    
        </div>
      </div>
    <hr>
    <div class="row">
      {% for bike in post %}
      <div class="col-md-3">
        <div class=" card h-100">
          <img src="{{ bike.bike_images.url }}" style="width: 100%; height: 30vh;" class="card-img-top" alt="No images">
          <div class="card-body">
            <h5 class="card-title">{{bike.bike_name}}</h5>
            <p><b>{{bike.rent_price}} per hour</b></p>
            <p class="card-text">Milage Covered:{{bike.milage_covered}} | Milage Per Liter:{{bike.milagePerliter}}
            </p>
            <a href="{% url 'post_edit' bike.id %}" class="btn btn-primary">Edit</a>  <a href="{% url 'bike-detail' bike.id %}" style="color: white;" class="btn btn-info">Details</a> <a href="{% url 'post_delete' bike.id %}" class="btn btn-danger">Delete</a>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="container my-4" style="padding-top: 80px;">
    <center><h3>Total available bikes</h3></center>
    <hr>
    <div class="row">
      {% for bike in post %}
      {% if bike.is_available %}
      <div class="col-md-3">
        <div class=" card" style="width: 18rem;">
          <img src="{{ bike.bike_images.url }}" class="card-img-top" alt="No images">
          <div class="card-body">
            <h5 class="card-title">{{bike.bike_name}}</h5>
            <p><b>{{bike.rent_price}} per hour</b></p>
            <p class="card-text">Milage Covered:{{bike.milage_covered}} | Milage Per Liter:{{bike.milagePerliter}}
            </p>
            <a href="{% url 'bike-detail' bike.id %}" class="btn btn-primary">See Details</a> 
          </div>
        </div>
  
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}



<style>
  .checked {
    color: #FF4D3B;
  }

  .txt-center {
    text-align: center;
  }

  .hide {
    display: none;
  }

  .clear {
    float: none;
    clear: both;
  }

  .rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
  }

  .rating>label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
  }

  .rating>label:hover,
  .rating>label:hover~label,
  .rating>input.radio-btn:checked~label {
    color: transparent;
  }

  .rating>label:hover:before,
  .rating>label:hover~label:before,
  .rating>input.radio-btn:checked~label:before,
  .rating>input.radio-btn:checked~label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FF4D3B;
  }
</style>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="card-header" style="background-color: #6D0A15; color: white;">
        <center>
          <h3>Reviews</h3>
        </center>
      </div>
      <br>

    </div>
  </div>
</div>
{% if customer.user.pk == request.user.pk %}
<div class="container">
  <div class="row">
    
        <div class="col-md-6">
          <center><h4>Total Reviews({{count}})</h4></center>
          <hr>
          {% for review in reviews %}
          <div class="row">
            <div class="col-md-6">
        
              <div>
                <i class="fas fa-user-alt me-1"></i>
                {{review.user.username}}
                <i class="far fa-clock me-1"></i>
                {{review.created_at}}
              </div>
            </div>
            <div class="col-md-6 text-end">
              <i class="fa fa-star {% if review.rating > 0 %} checked {% endif %}" style="float: left;"></i>
              <i class="fa fa-star {% if review.rating > 1 %} checked {% endif %}" style="float: left;"></i>
              <i class="fa fa-star {% if review.rating > 2 %} checked {% endif %}" style="float: left;"></i>
              <i class="fa fa-star {% if review.rating > 3 %} checked {% endif %}" style="float: left;"></i>
              <i class="fa fa-star {% if review.rating > 4 %} checked {% endif %}" style="float: left;"></i>
            </div>
            <br>
            <div>
              {{review.review}}
            </div>
        
          </div>
          {% endfor %}
        </div>
  </div>
</div>
 {% else %}
<div class="container">
  <div class="row">
    <div class="col-md-6">

      <h4>write your review:</h4>
      <form action="{% url 'submit_review' customer.id %}" class="review-form" method="POST">
        {% csrf_token %}

        <input type="hidden" name="review" id="review" value="" />

        <div class="form-group">
          <textarea class="form-control" name="review" id="exampleFormControlTextarea3" placeholder="Your Review"
            rows="6"></textarea>
        </div>
        <br>
        <div class="form-group">
          <div class="input rating">
            <div>Your Rating</div><br>
            <div class="rating">
              <input id="star-1" name="rating" type="radio" value="5" class="radio-btn hide" /><label for="star-1"><i
                  class="fas fa-star"></i></label>
              <input id="star-2" name="rating" type="radio" value="4" class="radio-btn hide" /><label for="star-2"><i
                  class="fas fa-star"></i></label>
              <input id="star-3" name="rating" type="radio" value="3" class="radio-btn hide" /><label for="star-3"><i
                  class="fas fa-star"></i></label>
              <input id="star-4" name="rating" type="radio" value="2" class="radio-btn hide" /><label for="star-4"><i
                  class="fas fa-star"></i></label>
              <input id="star-5" name="rating" type="radio" value="1" class="radio-btn hide" /><label for="star-5"><i
                  class="fas fa-star"></i></label>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <br>
        <style>
         

          #btn {
            background-color: #6D0A15;
            color: white;
          }
        </style>
        {% if user.is_authenticated %}
        <button class="btn" type="submit" id="btn">Submit Review</button>
        {% else %}
        <p>You must be login for review.<span><a style="text-decoration: none;"
              href="{% url 'login' %}">login</a></span></p>
        {% endif %}
      </form>
    </div>

    <div class="col-md-6">
      <h4>Total Reviews({{count}})</h4>
      <hr>
      {% for review in reviews %}
      <div class="row">
        <div class="col-md-6">

          <div>
            <i class="fas fa-user-alt me-1"></i>
            {{review.user.username}}
            <i class="far fa-clock me-1"></i>
            {{review.created_at}}
          </div>
        </div>
        <div class="col-md-6 text-end">
          <i class="fa fa-star {% if review.rating > 0 %} checked {% endif %}" style="float: left;"></i>
          <i class="fa fa-star {% if review.rating > 1 %} checked {% endif %}" style="float: left;"></i>
          <i class="fa fa-star {% if review.rating > 2 %} checked {% endif %}" style="float: left;"></i>
          <i class="fa fa-star {% if review.rating > 3 %} checked {% endif %}" style="float: left;"></i>
          <i class="fa fa-star {% if review.rating > 4 %} checked {% endif %}" style="float: left;"></i>
        </div>
        <br>
        <div>
          {{review.review}}
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
  <hr>
</div>

{% endif %}


{% endblock main-content %}