{% extends 'app/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}




{% block main-content %}
<img src="{% static 'app/images/banner/hero-area-banner1.jpg' %}" style="width: 100%; max-height: 750px;" alt="">

<div class="container my-5">
  <center>
    <h1>How This Platform Works?</h1>
  </center>
  <div class="row">
    <div class="col-md-4">
      <div class="card my-5" id="card" style="border: none;">
        <center>
          <i class="fas fa-map-marked-alt fa-3x" style="color: #e9dd38;"></i>
        </center>
        <div class="card-footer" style="border: none;">
          <center>
            <h4>Choose your location</h4>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card my-5 " id="card" style="border: none;">
        <center>
          <i class="far fa-handshake fa-3x" style="color: #e9dd38;"></i>
        </center>
        <div class="card-footer" style="border: none;">
          <center>
            <h4>Select your best deal</h4>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card my-5 " id="card" style="border: none;">
        <center>
          <i class="fas fa-motorcycle fa-3x" style="color: #e9dd38;"></i>
        </center>
        <div class="card-footer" style="border: none;">
          <center>
            <h4>Send rent request</h4>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 my-auto">
      <div class="card py-3" style="background-color: #6D0A15;color: white;">
        <div class="row">
          <div class="col-md-6 text-center">
            <h2>{{total_bikes}}+</h2>
            <h3>Bikes</h3>
          </div>
          <div class="col-md-6 text-center">
            <h2>{{total_customer}}+</h2>
            <h3>Users</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img style="width: 100%; height: auto;" src="{% static 'app/images/banner/motorbike-safety.jpg' %}" alt="">
    </div>
  </div>
</div>

<br><br>

<style>
  #card {
    transition: all 0.6s ease-in-out;

  }

  #card:hover {

    transform: scale(1.1);
  }
</style>

<div class="container-fluid pt-2" style="background-color: rgb(241, 241, 241);">
  <div class="container my-5">
    <center>
      <h1>How <span style="color: black;"><b>Rent</b></span><span style="color: #6D0A15;"><b>Bike</b></span> Pleases
        You?</h1>
    </center>
    <div class="row">
      <div class="col-md-3">
        <div class="card my-5 pt-4" id="card" style="border: none;">
          <center>
            <i style="color: #e9dd38;"><img style="width: 60px; height: 60px;"
                src="{% static 'app/images/icons/affordable-01.svg' %}" alt=""></i>
          </center>
          <div class="card-footer my-4" style="border: none; background-color: rgb(34, 34, 34); color: #e9dd38;">
            <center>
              <h4>Affordable and worthy</h4>
            </center>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card my-5 pt-4" id="card" style="border: none;">
          <center>
            <i class="fa fa-tags fa-3x" style="color: #6D0A15;"></i>
          </center>
          <div class="card-footer my-3" style="border: none; background-color: rgb(34, 34, 34); color: #e9dd38;">
            <center>
              <h4>No hidden charge</h4>
            </center>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card my-5 pt-4" id="card" style="border: none;">
          <center>
            <i style="color: #e9dd38;"><img style="width: 60px; height: 60px;"
                src="{% static 'app/images/icons/taka-01.svg' %}" alt=""></i>
          </center>
          <div class="card-footer my-4" style="border: none; background-color: rgb(34, 34, 34); color: #e9dd38;">
            <center>
              <h4>Post bike & earn money</h4>
            </center>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card my-5 pt-4" id="card" style="border: none;">
          <center>
            <i class="far fa-check-circle fa-3x" style="color: #6D0A15;"></i>
          </center>
          <div class="card-footer my-3" style="border: none; background-color: rgb(34, 34, 34); color: #e9dd38;">
            <center>
              <h4>Nice availability</h4>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <center class="mb-5">
    <h1>Frequently Asked Questions (FAQ)</h1>
  </center>
  <div class="row">
    <div class="col-md-6">
      <div class="card p-3">
        <h5><strong>How to rent a bike?</strong></h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At illo nam quia voluptatibus ipsam saepe
          aspernatur, architecto alias rerum in!</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card p-3">
        <h5><strong>How to rent a bike?</strong></h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At illo nam quia voluptatibus ipsam saepe
          aspernatur, architecto alias rerum in!</p>
      </div>
    </div>
  </div> <br>
  <div class="row">
    <div class="col-md-6">
      <div class="card p-3">
        <h5><strong>How to rent a bike?</strong></h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At illo nam quia voluptatibus ipsam saepe
          aspernatur, architecto alias rerum in!</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card p-3">
        <h5><strong>How to rent a bike?</strong></h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At illo nam quia voluptatibus ipsam saepe
          aspernatur, architecto alias rerum in!</p>
      </div>
    </div>
  </div>
</div>

{% endblock main-content %}