{% extends 'app/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}




{% block content %}
  <img src="{% static 'app/images/banner/bikecover1.png' %}" style="width: 100%; height: 600px;" alt="">

  <div class="container my-5">
    <center><h2>How this platform work?</h2></center>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="card my-5 " style="border: none;">
          <center>
            <i class="fas fa-map-marked-alt fa-3x" style="color: #e9dd38;"></i>
          </center>
          <div class="card-footer" style="border: none;">
            <center><h4>Choose your location</h4></center>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card my-5 " style="border: none;">
          <center>
            <i class="far fa-handshake fa-3x" style="color: #e9dd38;"></i>
          </center>
          <div class="card-footer" style="border: none;">
            <center><h4>Select your best deal</h4></center>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card my-5 " style="border: none;">
          <center>
            <i class="fas fa-motorcycle fa-3x" style="color: #e9dd38;"></i>
          </center>
          <div class="card-footer" style="border: none;">
            <center><h4>Reserve and post your rental bike</h4></center>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container my-5">
    <center><h1>Why riding bikes from <span style="color: black;"><b>Rent</b></span><span style="color: #6D0A15;"><b>Bike</b></span> pleases you</h1></center>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-muted">
        <center>Low cost, no hidden charge, quick ride finding- add all these to the beauty of bangladesh and you will discover
          a new
          way of maintaining communication that you’ve never experinced before.</center>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card my-5 " style="border: none;">
          <center>
            <i class="fas fa-map-marked-alt fa-4x" style="color: #e9dd38;"></i>
          </center>
          <div class="card-footer" style="border: none;">
            <center>
              <h4>Affordable and worthy</h4>
            </center>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card my-5 " style="border: none;">
          <center>
            <i class="fas fa-motorcycle fa-4x" style="color: #e9dd38;"></i>
          </center>
          <div class="card-footer" style="border: none;">
            <center>
              <h4>Going around and explore the natural beauty!</h4>
            </center>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card my-5 " style="border: none;">
          <center>
            <i class="far fa-clock fa-4x" style="color: #e9dd38;"></i>
          </center>
          <div class="card-footer" style="border: none;">
            <center>
              <h4>Find your vehicle easily - they are on every corner!</h4>
            </center>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card my-5 " style="border: none;">
          <center>
            <i class="fas fa-map-marked-alt fa-4x" style="color: #e9dd38;"></i>
          </center>
          <div class="card-footer" style="border: none;">
            <center>
              <h4>Affordable and worthy</h4>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div class="card">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <h4>100+</h4>
              <h5>Bikes</h5>
            </div>
            <div class="col-md-3">
              <h4>100+</h4>
              <h5>Users</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div class="card">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <h4>100+</h4>
              <h5>Bikes</h5>
            </div>
            <div class="col-md-3">
              <h4>100+</h4>
              <h5>Users</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
{% endblock content %}