{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{% endblock title %}

{% block main-content %}

<div class="container my-5" style="padding-top: 50px;">
  <center><h4>You search for {{q}}</h4></center>
  <div class="row">
  {% if bikes %}
  {% for bike in bikes %}
  <div class="col-md-3 my-3">
    <div class=" card h-100">
      <img src="{{ bike.bike_images.url }}" class="card-img-top" style="width: 100%; height: 30vh;" alt="No images">
      <div class="card-body">
        <h5 class="card-title">{{bike.bike_name}}</h5>
        <p><b>{{bike.rent_price}} Tk. per hour</b></p>
        <p class="card-text">Milage Covered:{{bike.milage_covered}} | Milage/Liter:{{bike.milagePerliter}}
        </p>
        <br>
        {% if bike.post_user.pk == request.user.pk %}
        <!-- <a href="{% url 'bike-detail' bike.id %}" class="btn btn-primary">My bike</a> -->
        <div class="card-footer" style="background-color: #6D0A15; color: white;">
          <center>
            <h3>My Bike</h3>
          </center>
        </div>
        {% else %}
        <a href="{% url 'bike-detail' bike.pk %}" class="btn btn-primary">Show Details</a>
        {% endif %}
      </div>
    </div>
  
  </div>
  {% endfor %}
{% else %}
<div>
  <center>
    <h4 style="color: red;">Nothing Found!!!</h4>
  </center>
</div>
{% endif %}
</div>
</div>

{% endblock main-content %}